extends ../layouts/application

block content
  each post, index in posts
    .post-item
      .post-main
        .post-rank
          | #{skip + index + 1}.
        .post-title
          a(href=`${post.url}`)= post.title
      .post-info
        .post-upvote(data-id=`${post._id}`)
        .post-score #{post.score} 赞
        a.post-link(href=`/posts/${post._id}`) 详情

  if more
    if type
      a.more-posts(href=`/${type}?page=${more}`) 查看更多
    else
      a.more-posts(href=`/?page=${more}`) 查看更多

block scripts
  script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
  script(src="/javascripts/home.js")