extends ../layouts/application

block content
  .post-show
    if post.url
      a.post-title(href=`${post.url}`) #{post.title}
    else
      .post-title(href=`${post.url}`) #{post.title}
    .post-text #{post.text}
  